
.header {
    background: #000;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: right;
}


.header_links {
    list-style: none;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 1.2rem;
}

.header_link {
    text-decoration: none;

    color: white;
    list-style: none;
}